version: "3.8"

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    volumes:
      - /opt/cloudflared:/etc/cloudflared
    networks:
      - proxy

networks:
  proxy:
    external: true
